{% extends teneleven_geolocator_layout is defined ? teneleven_geolocator_layout : 'TenelevenGeolocatorBundle::layout.html.twig' %}
{# you can define block teneleven_geolocator_item_window to customize info window content for each location #}

{% block teneleven_geolocator_body %}
    <div class="row">
        <div class="col-sm-8">
            {% block teneleven_geolocator_header %}
                <h1>Anything Locator</h1>
                <p>Customize this template by extending it on the project level and overriding specific blocks.</p>
            {% endblock %}
        </div>
        <div class="col-sm-4 teneleven-geolocator-form-container">
            {% block teneleven_geolocator_form %}
                <legend>Search by Address or Zip Code</legend>
                {{ form_errors(form) }}
                <form role="form" method="GET">
                    <div class="row">
                        <div class="col-sm-8">
                            {{ form_row(form.location, { 'label': false, 'attr': { 'placeholder': 'Full Address or Zip Code', 'class': 'form-control' } }) }}
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </div>
                </form>
            {% endblock %}
            {% if result is defined %}
                {#<h3>{{ result.results|length }} Results around "{{ result.center.city }}"</h3>#}
                <h3>{{ result.results|length }} Results</h3>
            {% endif %}
        </div>
    </div>
    <div class="row teneleven-geolocator-content">
        <div class="col-sm-8 teneleven-geolocator-map-container" data-map-id="{{ map.variable }}">
            {{ ivory_google_map_container(map) }}
        </div>
        <div class="col-sm-4">
            {% block teneleven_geolocator_list %}
            {% if result is defined %}
            <ul class="list-group teneleven-geolocator-list" style="height: {{ map.stylesheetOptions.height }}; overflow: auto;">
                {% for id, result in result.results %}
                    <li class="list-group-item teneleven-geolocator-item"{% if result.mapMarkerId %} data-marker-id="{{ result.mapMarkerId }}"{% endif %}{% if result.mapWindowId %} data-window-id="{{ result.mapWindowId }}"{% endif %}>
                        {% block teneleven_geolocator_list_item %}
                            <h4>Result Listing</h4>
                            <p>To be customized.</p>
                        {% endblock %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tenelevengeolocator/style/frontend.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ ivory_google_map_js(map) }}
    {{ ivory_google_api([map]) }}
    {#<script type="text/javascript" src="{{ asset('bundles/tenelevengeolocator/js/load-marker-highlights.js') }}"></script>#}
{% endblock %}
